<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best online services</title>
    <link rel="stylesheet" href="Style.css">
        {{>headerLinks}}
</head>

<body>
  {{>header}}

    <section id="home">
        <h1 class="primary">
            WELCOME TO SHRIKANT RESTAURANT
        </h1>
        <button class="btn" >Order Now</button>
    </section>
    <section class="services-container" id="menu">
        <h1 class="h-primary center">
            Our Menu
        </h1>
        <div id="services">
            <div class="box">
                <img src="/BackEnd/express/public/chicken.jpg" alt="">
                <h2 class="h-secondary center">Chicken</h2>
                <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi praesentium,
                    at atque ullam quam, iusto asperiores recusandae provident molestias est maiores rerum obcaecati
                    quibusdam pariatur accusamus ex mollitia eius?</p>
            </div>
            <div class="box">
                <img src="./birayni.jpg" alt="">
                <h2 class="h-secondary center">Birayni</h2>
                <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi praesentium,
                    at atque ullam quam, iusto asperiores recusandae provident molestias est maiores rerum obcaecati
                    quibusdam pariatur accusamus ex mollitia eius?</p>
            </div>
            <div class="box">
                <img src="./mutton.jpg" alt="">
                <h2 class="h-secondary center">Mutton</h2>
                <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi praesentium,
                    at atque ullam quam, iusto asperiores recusandae provident molestias est maiores rerum obcaecati
                    quibusdam pariatur accusamus ex mollitia eius?</p>
            </div>
            <div class="box">
                <img src="./fish.jpg" alt="">
                <h2 class="h-secondary center">Fish</h2>
                <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi praesentium,
                    at atque ullam quam, iusto asperiores recusandae provident molestias est maiores rerum obcaecati
                    quibusdam pariatur accusamus ex mollitia eius?</p>
            </div>

        </div>
    </section>
    <section class="services-container" id="service">
        <h1 class="h-primary center">
            Our Services
        </h1>
        <div id="services">
            <div class="box">
                <img src="../../public/boy.webp" alt="">
                <h2 class="h-secondary center">Food ordering</h2>
                <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi praesentium,
                    at atque ullam quam, iusto asperiores recusandae provident molestias est maiores rerum obcaecati
                    quibusdam pariatur accusamus ex mollitia eius?</p>
            </div>
            <div class="box">
                <img src="./payment2.png" alt="">
                <h2 class="h-secondary center">Payment Methods</h2>
                <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi praesentium,
                    at atque ullam quam, iusto asperiores recusandae provident molestias est maiores rerum obcaecati
                    quibusdam pariatur accusamus ex mollitia eius?</p>
            </div>
        </div>
    </section>
    <section id="client-section">
        <h1 class="h-primary center" style="cursor:none ;">Our Clients

        </h1>
        <div id="clients">
            <div class="client-tem">
                <img src="./apple-logo.png" alt="">
            </div>
            <div class="client-tem">
                <img src="./KFC_logo.svg.png" alt="" >
            </div>
            <div class="client-tem">
                <img src="./baramati.jpg" alt="">
            </div>
            <div class="client-tem">
                <img src="./Facebook-logo.pn``````g" alt="">
            </div>
        </div>
    </section>
{{>contact}}
 {{>footer}}
</body>

</html>