<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>headerLinks}}
    <link rel="stylesheet" href="weather.css">
    

</head>

<body>
    {{>header}}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Enter your city</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="top_layer">
                            <p class="card-text top_layer" id="day">Tuesday</p>
                            <p class="card-text top_layer" id="date">13_oct</p>
                        </div>
                        <div class="main_layer">
                            <p id="city_name">Get Output Here</p>
                            <div class="middle_layer data_hide">
                                <p id="temp">
                                    <span>0</span><sup>o</sup>C 
                                </p>
                                <p id="temp_status"> </p>
                            </div>
                        </div>
                        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}

</body>

</html>