section{
    background-color: yellow;
    width: 500px;
    height:500px;
}
div{
    /* background-color: rgba(74, 48, 205,0.1); */
    width:50%;
    height:50%;
    opacity: 0.1;

}
p{
    font-size: 2em;
}