body{
    background-color: yellow;
    margin: 0px;
}
nav{
    background: white;
}
nav a{
    font-size:500;
    color:blue;
    text-decoration: none;
    list-style: none;
    
}
nav li{
    list-style:none;
}
nav{
    display: flex;
    justify-content: center;
    text-align: center;
    word-spacing: 95px;

}