<nav id="navbar">
  <div id="logo">
    <img src="./logo.jpg" alt="online meal" />
  </div>
  <div>
    <ul>
      <li class="item"><a href="#home">Home</a></li>
      <li class="item"><a href="#menu">Menu</a></li>
      <li class="item"><a href="#service">Services</a></li>
      <li class="item"><a href="#client-section">About Us</a></li>
      <li class="item"><a href="#contact">Contact Us</a></li>
      <li class="item"><a href="./weather">Weather</a></li>
    </ul>
  </div>
</nav>